NODE_ENV=test_e2e # DO NOT CHANGE
# Prisma comes with a local db for testing. Look up 'prisma dev' command.
# Much slower than a normal local psql instance (~10x slower in my case for the e2e tests)
DATABASE_URL="<YOUR_TEST_DB_URL_HERE>"

API_HOST=localhost
API_PORT=3000

VITE_PUBLIC_BLOG_HOST=localhost
VITE_PUBLIC_BLOG_PORT=4200

VITE_ADMIN_BLOG_HOST=localhost
VITE_ADMIN_BLOG_PORT=5173