NODE_ENV= # production | development
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/dbname?schema=public"

# you can generate one using require('crypto').randomBytes(64).toString('hex')
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# For avatar upload to work
CLOUDINARY_URL=<CLOUDINARY_API_URL_HERE>

# API
API_HOST=localhost
API_PORT=3000

# Public blog
VITE_PUBLIC_BLOG_HOST=localhost
VITE_PUBLIC_BLOG_PORT=4200

# Admin blog
VITE_ADMIN_BLOG_HOST=localhost
VITE_ADMIN_BLOG_PORT=5173

# if you are not on windows enable this for an interactive terminal ui 
NX_TUI=false