NODE_ENV=development
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/dbname?schema=public"

# you can generate one using require('crypto').randomBytes(64).toString('hex')
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# For avatar upload to work
CLOUDINARY_URL=<CLOUDINARY_API_URL_HERE>

# API
HOST=localhost
PORT=3000

VITE_PUBLIC_BLOG_URL=http://localhost:4200
VITE_ADMIN_BLOG_URL=http://localhost:5173

# if you are not on windows enable this for an interactive terminal ui 
NX_TUI=false