NODE_ENV=production
DATABASE_URL="postgresql://neondb_owner:...."

# you can generate one using require('crypto').randomBytes(64).toString('hex')
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# For avatar upload to work
CLOUDINARY_URL=<CLOUDINARY_API_URL_HERE>

# API
API_HOST=localhost
API_PORT=3000

# Public blog
VITE_PUBLIC_BLOG_HOST=localhost
VITE_PUBLIC_BLOG_PORT=4200

# Admin blog
VITE_ADMIN_BLOG_HOST=localhost
VITE_ADMIN_BLOG_PORT=5173
