@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import 'tailwindcss';
@import '../styles/_index.css';
@import 'quill/dist/quill.snow.css';

@layer base {
	* {
		--font-bangers: 'Bangers', sans-serif;
		border-color: var(--color-border-default);
	}

	body {
		background-color: var(--color-bg-base);
		color: var(--color-text-primary);
		font-family: var(--font-sans);
		line-height: var(--leading-normal);
	}

	input {
		color: var(--color-text-primary);
	}

	h1 {
		font-size: var(--text-4xl);
		font-weight: bold;
	}

	h2 {
		font-size: var(--text-xl);
		font-weight: bold;
	}

	h3 {
		font-size: var(--text-lg);
		font-weight: bold;
	}

	/* Quill text editor custom style */
	.ql-toolbar {
		flex-shrink: 0;
		border: none !important;
	}
	.ql-container {
		flex: 1 1 auto;
		min-height: 0;
		border: none !important;
	}
	.ql-editor {
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		overflow-wrap: break-word;
		word-break: break-word;
		border: none !important;
	}
}

/* You have to do this for every lib... */
@source '../../../../libs/blog-admin/features/user-login/src';
@source '../../../../libs/blog-admin/features/posts-manager/src';
@source '../../../../libs/blog-admin/features/posts-editor/src';
@source '../../../../libs/blog-admin/features/reports-manager/src';
@source '../../../../libs/blog-admin/features/report-details/src';
@source '../../../../libs/blog-admin/ui/common/src';
@source '../../../../libs/blog-admin/ui/errors/src';
