# if in NODE_ENV=development and have a local postgres instance, these credentials are used to create the DB
# If a DB is available these are not needed


# Connect to the default 'postgres' database initially to allow
# for the creation of a new database.
PG_NAME=postgres # default
PG_USER=
PG_HOST=localhost # default
PG_PASSWORD=
PG_PORT=5432 # default

DB_NAME=blog_db